html, body {
	height: 100%;
}

#header-container {
	position:      fixed;
    top:           0;
    width:         100%;
    z-index:       2;
    border-bottom: 3px #8ABC8A solid;
}

#footer-container {
	position: fixed;
	bottom:   0;
	width:    100%;
}

#main-container {
	padding-top: 55px;
    height:      calc(100% - 55px);
}

.horizontal-divider {
	border:     1px solid darkgray;
    margin-top: 5px;
}