.BannerController {
	height: 100%;
}

#main-banner-icon {
    height:      256px;
    margin-top:  15px;
}

#main-banner-container {
    position:         absolute;
    top:              calc(50% - 375px);
    height:           750px;
    width:            100%;
    background-color: #8ABC8A;
    text-align:       center;
}

#main-banner {
    margin-top: 185px;
}

.main-banner-text {
    margin-top: 15px;
    text-align: center;
}