.HeaderController {
	background-color: gray;
	height:           55px;
}

#top-left-logo {
	position:         absolute;
    margin:           5px;
    height:           45px;
    margin-left:      15px;
	cursor:           pointer;
	filter:           invert(100%);
	background-color: white;
	padding:          5px;
	border-radius:    5px;
}

#signinbutton {
	display: inline-block;
}

#signoutbutton {
	display:     none;
	margin-left: 5px;
}

#header-label {
    width:       200px;
    color:       white;
    margin-left: 10px;
    margin-top:  5px;
}

#header-signin-dialog-html {
	display: none;
}

.header-right {
	position: absolute;
    right:    10px;
    top:      7px;
}

#welcome-message {
	font-size:  15px;
	display:    none;
	color:      white;
    margin-top: 8px;
}

#header-navbar {
	display: none;
}

.HeaderController .nav a {
	color:       white;
    font-size:   14px;
    font-weight: 700;
    text-shadow: none;
}

.HeaderController .nav {
	margin-left: 10%;
}

.HeaderController .nav .active a {
	color: black;
}

.HeaderController .nav .active {
	background-color:           lightgrey;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
	background-color:           white;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
	color:                      black;
}

.HeaderController .navbar-nav>li {
	cursor: pointer;
}