.dialog-footer {
    position:         absolute;
    bottom:           5px;
    right:            5px;
    width:            calc(100% - 10px);
    background-color: lightgray;
    border-radius:    5px;
    height:           45px;
    z-index:          2;
}

#save-button {
	margin-top: 6px;
    position:   absolute;
    right:      10px;
}

#delete-button {
	margin-top: 6px;
    position:   absolute;
    right:      75px;
    display:    none;
}

#cancel-button {
	margin-top: 6px;
    position:   absolute;
    left:       10px;
}

#add-bet-button {
	margin-bottom: 5px;
	margin-top: 31px;
}

#bet-table {
	margin-bottom: 70px;
}

.amount-win, .odds {
	width: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

.match-up-one {
	margin-right: 5px;
	width:        95px;
	display:      inline-block;
}

.match-up-two {
	margin-left: 5px;
	width:       95px;
	display:     inline-block;
}

.outcome {
	width: 95px;
}

.pick {
	width: 95px;
    margin-left: 5px;
    margin-right: 5px;
}

.sports-select {
	height: 26px;
	margin-left: 5px;
	margin-right: 5px;
}

#remove-bet {
	margin-left: 30px;
    margin-top:  7px;
}

.amount-bet {
	width: 45px;
}

.matchup-row-margin {
	margin-top: 10px;
}

#tag-search {
	width:   125px;
    display: inline-block;
}

.tag-item-container {
	display: inline-block;
	margin-right: 5px;
}

.tag-item-text {
	display: inline-block;
    background-color: gray;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    border: 1px black solid;
}

.tag-item-delete {
	display: inline-block;
    padding: 5px;
    background-color: red;
    font-weight: bolder;
    color: white;
    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#tags-container {
	margin-top: -10px;
    margin-bottom: 10px
}

.bet-notes {
	display: inline-block;
    margin-top: 5px;
    width: 439px;
    margin-left: 5px;
}